body {
  background-color: lightBlue;
}
#title {
  font-size: 40px;
}
#container, #calculator {
  display: flex;
  justify-content: center;
  flex-direction: column;
  align-items: center;
}


#calculator {
  margin-top: 40px;
  padding: 10px;
  height: 475px;
  width: 300px;
  border: 1px solid black;
  border-radius: 35px;
  justify-content: flex-start;
  box-shadow: 4px 7px black;

}

#screen {
  height: 15%;
  width: 90%;
  border: 1px solid black;
  border-radius: 20px;
  margin-bottom: 5%;
  background-color: white;
  font-size: 50px;
  text-align: right;
  box-shadow: 2px 1px black;
}
#buttons {
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  justify-content: space-around;
  align-content: space-around;
  height: 80%;
  width: 90%;

}


.button {
  height: 13%;
  width: 20%;
  border: 1px solid black;
  margin: 1%;
  border-radius: 70px;
  font-size: 20px;
  box-shadow: 1px 2px black;
}


.button:hover {
  box-shadow: 2px 2px 2px red;
}
.button:active {
  transform: translate(-2px, 2px);
}

.light {
  background-color: lightGrey;
}

.special {
  background-color: orange;
}

#_0 {
  flex-grow: 2;
  border-radius: 25px;
}
